<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isanechek.beardycast">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".testlab.ScrollingActivity"
            android:label="TestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.articlelist.ListArtActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.imageviewer.ImageViewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.details.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pref.PreferencesActivity" />

    </application>

</manifest>